*{
    margin: 0;
    padding:0
}
:root{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

}
.heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}
.form{
    display: flex;
    justify-content: center;
    height: 20vh;
    align-items: center;
}
.form input{
    height: 2rem;
    font-size: 18px;
}
.task{
    display: flex;
    height: 2rem;
    font-size: x-large;
    justify-content: space-between;
    align-items: self-start;
}